.contentDiv {
    padding-top: 5%;
    font-family: 'Droid Sans';
    display: flex;
    flex-direction: column;
}
.titleDiv {
    font-weight: bold;
}
    
.paragraphDiv {    
    margin-top: 0;
    height: 100px;
    overflow: scroll;
    white-space: pre-wrap;
}

@media (min-width: 768px){
    .contentDiv {
        padding-top: 2%;
    }
    .paragraphDiv {    
        height: 60px;
    }
}
    
@media (min-width: 768px ) and (min-height: 800px){
    .contentDiv {
        padding-top: 4%;
    }
    .paragraphDiv {    
        height: 140px;
    }
}